body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 100px;
}

.button-card {
    padding: 0;
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('carta.png'); 
    background-size: cover;
    text-indent: -9999px; 
}

#card {
    display: none;
    text-align: center;
    background-color: #3498db; 
    padding: 20px;
    border-radius: 10px; 
}

.card-content .card-image {
    max-width: 100%; 
    height: auto;
}

.card-content p {
    color: white; 
}

.arrow-gif {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.arrow-gif img {
    width: 100px;
}


.hearts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden; 
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff525200; 
    border-radius: 50%;
    animation: fall 5s linear infinite;
    transform-origin: bottom;
    animation-delay: calc(0.1s * var(--index)); 
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.hidden {
    display: none;
}
